results filter=lfs diff=lfs merge=lfs -text
results/textract_es_claude_north_carolina_search_range_3_updated_prompt filter=lfs diff=lfs merge=lfs -text
results/textract_es_claude_north_carolina_search_range_3_updated_prompt/*/*.json filter=lfs diff=lfs merge=lfs -text
