.diskcache
.env
.idea
.mypy_cache
.streamlit
.venv
.vscode
Procfile
data/*/eval
data/*/format_ocr
data/*/index
data/*/llm
data/*/normalization
data/*/ocr
data/*/pdfs
data/*/prompt
data/*/search
data/.DS_Store
hydra_outputs
key.json
old_eval.py
old_results
results/*/district_extraction
results/*/district_extraction_verification
results/*/page_embedding
runtime.txt
setup.sh
wandb/
zoning.egg-info
zoning.egg-info/
zoning/*/__pycache__
zoning/__pycache__
zoning/prompt/old_templates
zoning/~*
