.diskcache
.env
.mypy_cache
data/*/eval
data/*/format_ocr
data/*/index
data/*/llm
data/*/normalization
data/*/ocr
data/*/pdfs
data/*/prompt
data/*/search
data/.DS_Store
hydra_outputs
old_eval.py
old_results
wandb/
zoning.egg-info
zoning.egg-info/
zoning/*/__pycache__
zoning/__pycache__
zoning/prompt/old_templates
zoning/~*
results/*/page_embedding
results/*/district_extraction
results/*/district_extraction_verification
