anthropic
boto3
datasets
diskcache
elasticsearch-dsl
hydra-core
ipykernel
matplotlib
omegaconf
openai
pre-commit
PyMuPDF # for visualization
python-dotenv
streamlit # for visualization
typer
wandb
watchdog
-e .