-e .
# anthropic
# boto3
# datasets
# diskcache
# elasticsearch-dsl
# firebase_admin
# google-cloud-firestore
# hydra-core
# ipykernel
# matplotlib
# omegaconf
# openai
# orjson # for visualization
# pre-commit
# PyMuPDF # for visualization
# python-dotenv
# streamlit # for visualization
# streamlit-modal # for visualization
# typer
# wandb
# watchdog
aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
altair==5.3.0
annotated-types==0.7.0
anthropic==0.32.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
appnope==0.1.4
asttokens==2.4.1
attrs==23.2.0
blinker==1.8.2
boltons==24.0.0
boto3==1.34.151
botocore==1.34.151
CacheControl==0.14.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.17.0
cfgv==3.4.0
charset-normalizer==3.3.2
ci-info==0.3.0
click==8.1.7
colored==2.2.4
comm==0.2.2
configobj==5.0.8
configparser==7.0.0
contourpy==1.2.1
cryptography==43.0.1
cycler==0.12.1
dataclasses-json==0.6.6
datasets==2.20.0
debugpy==1.6.7
decorator==5.1.1
deprecation==2.1.0
dill==0.3.8
diskcache==5.6.3
distlib==0.3.8
distro==1.9.0
dnspython==2.6.1
docker-pycreds==0.4.0
duckdb==1.0.0
elastic-transport==8.13.1
elasticsearch==8.13.2
elasticsearch-dsl==8.14.0
eliot==1.15.0
eliot-tree==21.0.0
email_validator==2.2.0
et-xmlfile==1.1.0
etelemetry==0.3.1
exceptiongroup==1.2.0
executing==2.0.1
faiss-cpu==1.8.0.post1
fastapi==0.111.1
fastapi-cli==0.0.4
ffmpy==0.4.0
filelock==3.14.0
firebase-admin==6.5.0
fitz==0.0.1.dev2
fonttools==4.53.0
frozenlist==1.4.1
fsspec==2024.3.1
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.19.1
google-api-python-client==2.143.0
google-auth==2.33.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-core==2.4.1
google-cloud-firestore==2.17.2
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
google_search_results==2.4.2
googleapis-common-protos==1.63.2
gradio==3.50.2
gradio_client==0.6.1
grpcio==1.65.4
grpcio-status==1.65.4
gspread==5.12.4
gspread-dataframe==4.0.0
gspread-formatting==1.2.0
gspread-pandas==3.3.0
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.2
hydra-core==1.3.2
identify==2.5.36
idna==3.7
importlib_metadata==7.1.0
importlib_resources==6.4.0
ipykernel==6.29.5
ipython==8.24.0
iso8601==2.1.0
isodate==0.6.1
jedi==0.19.1
Jinja2==3.1.4
jinja2-highlight==0.6.1
jiter==0.4.1
jmespath==1.0.1
jsonlines==4.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.5.0
kiwisolver==1.4.5
looseversion==1.3.0
lxml==5.2.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.9.1
matplotlib-inline==0.1.7
mdurl==0.1.2
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
nest_asyncio==1.6.0
networkx==3.3
nibabel==5.2.1
nipype==1.8.6
nodeenv==1.9.0
numpy==1.26.4
oauthlib==3.2.2
omegaconf==2.3.0
openai==1.37.1
openpyxl==3.1.5
orjson==3.10.6
outcome==1.3.0.post0
packaging==24.0
pandas==1.5.3
parso==0.8.4
pathlib==1.0.1
pdf2image==1.17.0
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.3.0
platformdirs==4.2.2
polars==0.20.31
pre-commit==3.8.0
prompt-toolkit==3.0.42
proto-plus==1.24.0
protobuf==5.27.3
prov==2.0.1
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.9.1
pydot==2.0.0
pydub==0.25.1
Pygments==2.18.0
PyJWT==2.9.0
PyMuPDF==1.24.9
PyMuPDFb==1.24.9
pyparsing==3.1.2
pyrsistent==0.20.0
python-dateutil==2.9.0
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1
pyxnat==1.6.2
PyYAML==6.0.1
pyzmq==25.1.2
rdflib==6.3.2
redis==5.0.8
referencing==0.35.1
regex==2024.7.24
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
s3transfer==0.10.1
scipy==1.13.1
semantic-version==2.10.0
sentry-sdk==2.3.1
setproctitle==1.3.3
shellingham==1.5.4
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
sql_metadata==2.12.0
sqlitedict==2.1.0
sqlparse==0.5.1
st-gsheets-connection==0.0.4
stack-data==0.6.2
starlette==0.37.2
streamlit==1.37.0
streamlit-modal==0.1.2
streamlit-pdf-viewer==0.0.12
tenacity==8.3.0
tiktoken==0.7.0
tokenizers==0.19.1
toml==0.10.2
toolz==0.12.1
tornado==6.3.3
tqdm==4.66.4
traitlets==5.14.3
traits==6.3.2
trio==0.26.0
typer==0.12.3
typing_extensions==4.11.0
typing-inspect==0.9.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.1
uvicorn==0.30.3
uvloop==0.19.0
validators==0.33.0
virtualenv==20.26.2
wandb==0.17.5
watchdog==4.0.1
watchfiles==0.22.0
wcwidth==0.2.13
websockets==11.0.3
xxhash==3.4.1
yarl==1.9.4
zipp==3.17.0
