-e .
anthropic
boto3
datasets
diskcache
elasticsearch-dsl
firebase_admin
google-cloud-firestore
hydra-core
ipykernel
matplotlib
omegaconf
openai
pre-commit
PyMuPDF # for visualization
python-dotenv
streamlit # for visualization
streamlit-modal # for visualization
orjson # for visualization
typer
wandb
watchdog
